header {
    min-height: 330px;
    background: url('../assets/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 12px;
}

.header-title-wrapper {
    padding-top: 60px;
}

.header-title-wrapper img {
    cursor: pointer;
}

h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
  
nav {
    margin: 70px 0;
    align-items: center;
}
  
nav button {
    padding: 7px 22px;
    color: hsl(234, 11%, 52%);
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
    background-color: white;
    border: none;
    border-radius: 3px;
}
  
nav button:hover, nav button:active {
    color: hsl(235, 24%, 19%);
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        margin: 50px 0;
    }

    nav div.row {
        margin-top: 10px;
    }

    nav button {
        margin-left: 0;
        margin-right: 15px;
    }
}