.todo-wrapper {
    margin-top: -100px;
}

form {
    margin-bottom: 25px;
    padding: 20px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}
  
.addTodo {
    padding: 7px 22px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: hsl(280, 87%, 65%);
    color: white;
}
  
.addTodo:hover {
    background-color: hsl(280, 87%, 76%);
}
  
.inputTask {
    padding: 5px 0;
    border: none;
    width: 100%;
    font-size: 16px;
}

.todo-list {
    list-style: none;
}
  
.todo-list li {
    align-items: center;
    padding: 20px 25px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.delete-icon {
    margin-left: 10px;
}
  
.delete-icon:hover {
    opacity: 0.7;
    cursor: pointer;
}

.edit-icon:hover {
    cursor: pointer;
    opacity: 0.7;
}
  
.check-icon {
    border: 1px solid rgb(107, 104, 104);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    padding: 2px 6px;
    background-color: white;
}
  
.icon-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}